<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Document</title>
    <style>
        #home {
            margin: 0;
            padding: 0;
            width: 8rem; height: 8rem; font-size: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1rem;
        }
        @media (max-width: 500px){
            #home{
                width: 3rem;
                height: 3rem;
                
                font-size: 2rem;
            }
        }
    </style>
</head>

<body class="d-flex align-items-center flex-column justify-contents-center text-center" style="background-color: beige;">
    <img src="https://dotsungfiles.s3.ap-northeast-2.amazonaws.com/main_image_1.png"
        width="50%"
        object-fit="contain"
    />
    <h1>Hi</h1>
    <br/>
    <br/>
    <a id="home" href="{{url_for('toHome')}}" class='btn btn-dark m-1'><i class="bi bi-house-door"></i></a>
</body>
</html>