<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Document</title>
    <style>
        @media (max-width: 991px) {
            #register{
                display: none;
            }
        }
        #icons{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: gray;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('toHome')}}">Home</a> <!--url_for('함수명')-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('board.index')}}">게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('board.board1')}}">게시판1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('board.board2')}}">게시판2</a>
                    </li>
                    {% if g.user %}
                    </li>
                        <a id="icons" href=""><i class="bi bi-plus-square btn-lg p-0"></i></a>
                    </li>
                    {% endif %}
                </ul>
                
            </div>
        </div>
        {%if g.user%}
            <h5 class="mr-3">{{g.user['userId']}}</h5>
            <a id='logout' href="{{url_for('auth.logout')}}" class='btn btn-outline-secondary btn-sm m-1' style="width:auto;">Logout</a>

        {% else %}
        <a id='login' href="{{url_for('auth.login')}}" class='btn btn-outline-secondary btn-sm' style="width:5rem;">로그인</a>
        <a id="register" href="{{url_for('auth.register')}}" class='btn btn-outline-dark btn-sm m-1' style="width:5.5rem;">회원가입</a>
        {% endif %}
    </nav>
    <div class="m-4">
    {% block content %} 
    {% endblock %}
    </div>
</body>

</html>